# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend VSCode specific
Frontend/stock-tracker/.vscode/*
!Frontend/stock-tracker/.vscode/extensions.json
Frontend/stock-tracker/node_modules
Frontend/stock-tracker/.env

# Backend .env
Backend/.env
